---
- name: Install Nginx
  hosts: web
  become: true
  gather_facts: true

  tasks:
    - name: Install Nginx on Target Node
      package:
        name: nginx
        state: present

    - name: Start Nginx      
      service:
        name: nginx
        state: started
        enabled: yes

    - name: Copy index file to Nginx default location      
      ansible.builtin.copy:
        src: ../nginx_artefacts/index.html
        dest: /usr/share/nginx/html/index.html
           